*.egg
*.egg-info
*.o
*.pyc
*.so
*.swp
*~
.coverage
.eggs
.gitignore
.idea
.tox
/build
/dist
/doc/build
/doc/out
/generated/
/include
/lingpy3.egg-info
/lingpy3/data/models/*/*.bin
/lingpy3/lingpy-*.qlc
/lingpy3/plugins
/lingpy3/plugins/
/lingpy3/_plugins
/lingpy3/tests/output/*.csv
/lingpy3/tests/output/*.dst
/lingpy3/tests/output/*.html
/lingpy3/tests/output/*.nex
/lingpy3/tests/output/*.qlc
/lingpy3/tests/output/*.taxa
/lingpy3/tests/output/*.tre
/lingpy3/tests/test_data/*.html
__pycache__
